.stats-container .stats-grid:nth-child(3) {
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.stats-container .stats-grid:nth-child(3) .stat-number, .stats-container .stats-grid:nth-child(3) .stat-label {
    color:white;
  }  
.stats-grid:hover {
		box-shadow: 5px 10px;
}

.workout-section .workout-plan:nth-child(3) {
  border-left: 5px solid orange ;
  background-color: rgba(244, 244, 157, 0.582);
}

.exercise-item:nth-of-type(1){
     border-left: 5px solid rgb(87, 179, 108) ;
     background-color: rgba(163, 244, 157, 0.138);
}
.exercise-item:nth-of-type(4){
     border-left: 5px solid rgb(87, 179, 108) ;
     background-color: rgba(163, 244, 157, 0.138);
}